[Desktop Entry]
Name=Goblin Converter
Comment=A simple document converter
Comment[de]=Ein einfacher Dokumentenkonverter
Comment[fr]=Un convertisseur de documents simple
Comment[es]=Un convertidor de documentos simple
Comment[pt]=Um conversor de documentos simples
Comment[zh_CN]=一个简单的文档转换器
Comment[ru]=Простой конвертер документов
Comment[gr]=Ένα απλό μετατροπέα εγγράφων
Comment[it]=Un semplice convertitore di documenti
Comment[pl]=Prosty konwerter dokumentów
Comment[kr]=간단한 문서 변환기
Comment[jp]=シンプルなドキュメントコンバータ
Comment[da]=En simpel dokumentkonverter
Comment[sv]=En enkel dokumentkonverterare
Comment[no]=En enkel dokumentkonverterer
Comment[fi]=Yksinkertainen asiakirjamuunnin
Comment[nl]=Een eenvoudige documentconverter
Comment[gd]=Inneal-tionndaidh sgrìobhainnean sìmplidh
Comment[cy]=Trawsnewidydd dogfennau syml
Comment[hi]=एक साधारण दस्तावेज़ कनवर्टर
Exec=bash -lc "/usr/bin/goblin-converter %U"
Icon=de.magynhard.GoblinConverter
Terminal=false
Type=Application
MimeType=application/pdf;image/png;image/webp;image/jpeg;
Categories=Utility;Graphics;Office;Archiving;Compression;
StartupNotify=false
Keywords=convert;document;pdf;monochrome;